#slider-range-min {
	max-width: 99%;
	width:130px;
	display: inline-block;
    margin-left: 10px;
}

#slider-range-min.ui-slider .ui-slider-range {
	background: #018cc3;
}

.wp-admin select {
	cursor: pointer;
}

a.ui-slider-handle {
	background-image: none !important;
}
#ajax_delete_button,#ajax_clone_button,#ajax_update_button ,#ajax_cancel_button,#close_new_widget_create, #ajax_reset_button{
	background-color: #6fb7d5;
	color:#fff;
    font-size: 16px;
	border: 0;
	border-radius: 0;
}
.add_widget_button {
	background-color: #6fb7d5;
    color: #fff;
    padding: 5px 14px 6px;
    transition: .25s all ease !important;
    cursor: pointer !important;
}
.add_widget_button:hover{
	transform: translate3d(0,-2px,0);
}

strong {
	font-size:13px;
	margin: 0 10px 0 10px;
}
#widget_layout_type, #mob_views,#unit_layout_type {
	min-width:15px;
}
/**new widget css starts here **/
.wdgt_mn_cntnr_spkx {
margin-top:15px;
display:flex;
justify-content:space-between;
}
div.wdgt_hdr_mn_hldr_spkx {
	border-bottom:1px solid #d6d8e2;
	padding:13px 0px;
	display:flex;
	margin:0 35px;
	justify-content:space-between;
}
.wdgt_hdr_mn_hldr_spkx .lft_lbl_cls {
    margin-left: 5px;
    font-weight: bold;
    color: #0b518e;
    font-size: 14px;
}
.wdgt_hdr_mn_hldr_spkx .rght_lbl_cls {
    margin-right:5px;
     font-weight:bold;
     font-size:12px;

}
.icn_lbl_cls {
	position:relative;
	top:2px;
}
.wdgt_cntnt_sub_hldr {
	box-sizing: border-box;
    padding: 15px 35px;
	line-height:28px;
}
.wdgt_lft_mn_cntnr_spkx,.mp_cntnt_sub_hldr {
	box-sizing:border-box;
	background-color:white;
	box-shadow:0 1px 15px 1px rgba(113,106,202,.08);
	display:table;
	min-height:383px;
	position:relative;
}
.wdgt_lft_mn_cntnr_spkx {
	width:32%;
	margin-right:15px;
}
.mp_cntnt_sub_hldr {
    width:68%;
}
.mp_cntnt_sub_hldr div img {
	width:100%;
}
.wdgt_cmn_cls_algn_txt > span:first-child {
     min-width: 150px;
    display: inline-block;
    font-weight:bold;
    font-size:13px;
}
.wdgt_cmn_cls_algn_txt span:nth-child(2) {
	font-size:12px;
}
.frst_chld_wdgt_glbl_pst_clas, .secnd_chld_wdgt_glbl_pst_clas  {
   display:block;
   vertical-align:top;
   position:relative

}
.frst_chld_wdgt_glbl_pst_clas {
   min-width:150px;	
   font-weight:bold;
   font-size:13px;

}
.secnd_chld_wdgt_glbl_pst_clas div>span:first-child {
	display:inline-block;
	min-width:100px;

}
.edit_cat_spnx_wdgt {
  margin-left:15px;	
}
.secnd_chld_wdgt_glbl_pst_clas {
 font-size:12px;	
}
.active_dstr {
  display:block !important;	
}
.rtate_arrow:before {
	transform: rotate(0deg);
    left: -16px;
    top: 11px;
    position: absolute;

}
.wdgt_mn_cntnr_spkx div.onoffswitch {
	display: inline-block;
    float: unset;
}
.wdgt_mn_cntnr_spkx label {
	margin-bottom:unset;
}
.grph_wdgt_cntnr, .grph_wdgt_cntnr_grp {
	box-sizing: border-box;
    padding: 15px 35px;

}
.shrtcode_fnt_cls {
	background-color:#38889d;
    font-size: 13px !important;
    font-weight: bold;
    color: #ffffff;
    padding: 4px 5px 4px 6px;
}
.clr_cmn_wdgt {
	cursor: pointer;
    color: #337ab7;
}
/**catergory css starts here **/
.cat_wdgt_mn_cntnr_spkx .wdgt_updt_btn_mn_cntnr {
	margin-top:10px !important;
}
.cat_wdgt_mn_cntnr_spkx {
	position:relative;
	display:none;
	margin-top:10px;
}

.acc-mn-dv-cntainr {
	line-height:18px !important; 
	width:unset !important;
	font-size:12px;
}
.ul-mn-cls-chkbx li {
	font-size:12px;
}
.mn-txt-cmn-dv {
	border-bottom:1px solid #edebeb;
}
.acc-mn-dv-cntainr {
	border:1px solid #edebeb;
}
.ul-mn-cls-chkbx li {
	padding: 05px !important;
    padding-left: 36px !important;
}
/** category css ends here **/ 

/**design css starts here **/
.lft_cntnr_sb_cntnr {
  width:53%;
  box-sizing:border-box;
}
.lft_cntnr_sb_cntnr input[type=radio] {
  display:inline-block;
  margin-top:-1px;	
}
.lft_cntnr_sb_cntnr input[type=number] {
  width:50px;
  border-radius: 7px;
  text-align: center;
  font-size:12px;
  height:24px;
  background:transparent;
}
.lft_cntnr_sb_cntnr input[type=text] {
  width:50%;
  height:24px;
  font-size:12px;
  background:transparent;
}
.cntnt_dstr_shrt_cde {
  width:50%;
  text-align:center;	
}
.cntnt_dstr_cntnr {
	display: flex;
	justify-content:space-between;
}
.cntnt_dstr_cntnr_sh {
	display:none;
}

.wdgt_edit_cmn_cls_spx {
  display: none;
}
.cmn_wdgt_tb_mn_cntnr {
	border:1px solid #e9ebe9;
	margin-bottom:10px;
	background-color:#f5f5f5;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.04);
}
.cmn_wdgt_tb_mn_cntnr select {
   width:unset !important;	
}
.cmn_wdgt_tb_mn_cntnr>div:first-child {
	font-weight: bold;
    font-size: 13px;
    padding:5px 0px;
    cursor:pointer;
}
.wdgt_hdn_cntnt_spkx_cntnr {
  padding:10px 0px;
  margin-left:10px;
  font-size:13px;	
}

.wdgt_hdn_cntnt_spkx_cntnr .font_case {
	margin-top:0px;
}

span.wdgt_px_cmn_cls_spx {
	margin-left:3px;
}
.wdget_fxd_hgt_cntnr {
	margin-left:30px;
	margin-top:10px;
}
.wdget_fxd_hgt_cntnr>div:first-child {
  margin-bottom:7px;	
}
.mn_wdth_dstr_cmn_cls {
   min-width: 100px;
   display: inline-block;	
}
.wdgt_hdn_cntnt_spkx_cntnr select {
   vertical-align:unset !important;	
   font-size:12px;
}
/**slider css **/

.cmn_wdgt_tb_mn_cntnr .ui-state-default, .cmn_wdgt_tb_mn_cntnr .ui-widget-content .ui-state-default {
	background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor:move !important;
}
 .cmn_wdgt_tb_mn_cntnr .wp-picker-container input[type=text].wp-color-picker {
	width:65px !important;
}
.cmn_wdgt_tb_mn_cntnr .ui-slider-horizontal .ui-slider-handle {
	top: -0.7em;
    margin-left: -0.1em;
}
.cmn_wdgt_tb_mn_cntnr .ui-widget-content {
	background: #a9acb1 !important;
    border-radius: 15px;
    height: 4px;
}
/**slider css ends here **/
.mb_sd_cm_cl {
  margin-bottom:10px;	
}
.mr_wdt_dst_cmn_cls_spx div>span:first-child {
  min-width:45px;
  display:inline-block;	
}
.mr_wdt_dst_cmn_cls_spx_ws div>span:first-child {
  min-width:115px;
  display:inline-block;	
}

.mr_wdt_dst_cmn_cls_spx_brdr div>span:first-child {
  min-width:107px;
  display:inline-block;	
}
.mr_wdt_dst_cmn_cls_spx_hp div >span:first-child {
	min-width:65px;
  display:inline-block;
}
.mr_wdt_dst_cmn_cls_hf div>span:first-child {
  min-width:90px;
  display:inline-block;
}
.mr_wdt_dst_cmn_cls_hf .font_style {
	margin:0px;
}

.cmn_wdgt_tb_mn_cntnr>div:first-child {
	padding:6px 8px;
}
.cmn_wdgt_tb_mn_cntnr .fa-chevron-right {
	float: right;
    font-size: 11px;
    margin-top: 4px;
}
.wdgt_hdn_cntnt_spkx_cntnr {
	display:none;
}
.cmn_wdgt_tb_mn_cntnr>div:first-child i:first-child {
    display: inline-block;
    min-width: 22px;
}
.dst_ar_dwn {
	transform: rotate(90deg);
}
.hd_mn_cntnt_dv_spx {
	display:none;
}
.bbtm_tgl_clas {
	border-bottom:1px solid #e9ebe9;
	box-shadow:none !important;
}
.clr_pic_cmn_cls .ui-slider-handle {
	min-width:unset !important;
}
.clr_pic_cmn_cls {
	display:inline-block;
	vertical-align: middle;
}
.cmn_wdgt_tb_mn_cntnr .wp-picker-holder {
	position:absolute;
	z-index:999;
}
.cmn_wdgt_tb_mn_cntnr .iris-slider-offset {
	background:unset !important;
}
.clr_pic_cmn_cls .wp-color-result-text {
	min-width:unset !important;
}
.wdgt_updt_btn_mn_cntnr {
	margin-top:20px;
}

.clr_pic_cmn_cls .iris-slider-offset {
	height: unset !important;
	border-radius: unset !important;

}
 .clr_pic_cmn_cls .ui-state-default{
 	background-color:unset !important; 
    box-shadow:unset !important;
    width:unset !important;
    height: 6px !important;
    border-radius:unset !important;
    cursor:unset !important;
 }

/** right side edit widget starts here **/
.design_unit_main_container_spnx {
	border: 1px solid black;
	height: 300px;
    background: rgb(254, 254, 254);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-radius: 6px;
    margin-bottom: 8px;
    width: 236px;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    box-sizing: border-box;
    overflow: hidden;
    margin-left:30px;
}
.design_unit_img_container,.design_unit_img_container img {
	width: 100%;
}
.design_unit_content_container {
  padding: 2px 8px;
}
.design_unit_site_view_container {
  font-size: 10px;
}
.design_unit_site_view_container span:nth-child(2) {
  float: right;
}
.design_unit_hdline_container h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    display: block;
}
.aboveimg_cls_spx {
	padding: 0px 8px;
}
.error_widget_val {
  border-color:red !important;
}
.cmn_cls_unit_wdth_hght {
  display: none;
}
.excerpt_txt_mn_cls {
 color:#333333;	
}
/** right side edit widget ends here **/

/** add new widget css starts here **/
.ad_nw_wdgt_mn_cntainer {
   
    width: 68%;
    box-sizing: border-box;
    background-color: white;
    box-shadow:0 1px 15px 1px rgba(113,106,202,.08);
    margin:0 auto;
    margin-bottom: 20px;
    display: none;
}
.hw_to_install a{
	color: #4bacc6;
	font-weight: 800;
	font-size: 18px;
	cursor: pointer;
}
.wd_n_ad_nw_mn_cntnr {
    margin: 35px 0px 20px 0px;
    background-color: white;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.wi_mn_cntr_wd_spx>span {
    vertical-align: sub;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #0b518e;
}

/** loader css ends here **/
.select_all_cat_cmn_cls {
   color: #337ab7 !important;
   box-sizing: border-box;
   font-size: 9px;
   font-weight: 300;
   text-transform: capitalize;
}
/** add new widget ends here **/

/**new widget css ends here **/

