#slider-range-min {
	max-width: 99%;
	cursor: pointer;
	width:130px;
	display: inline-block;
    margin-left: 10px;
}
img {
	max-width: 100%;
}
#slider-range-min.ui-slider .ui-slider-range {
	background: #018cc3;
	cursor: pointer;
}
#local_post_percentage_range, #global_post_percentage_range ,#ad_post_percentage_range{
	width:200px;
	display: inline-block;
    margin-left: 20px;
}
.ui-slider .ui-slider-range {
	background: #018cc3;
	cursor: pointer;
}
.ui-widget.ui-widget-content.ui-corner-all{
	/*width:200px;*/
}
.ui-slider-handle.ui-state-default.ui-corner-all {
	cursor: pointer;
}
.evo-pointer {
	border: 4px solid #000000;
	height: 20px;
	margin-top: -28px;
	position: absolute;
	width: 20px;
}
.form-table input.colorPicker {
	margin-left: 36px;
	max-width: 80px;
	position: relative;
	cursor: pointer;
	min-width: 100px;
	text-align: center;
}

.colorPicker{
	width:100px !important;
}

.wp-admin select {
	text-align: center;
	cursor: pointer;
}
.form-table input[type="radio"]{
	min-width: auto;
	width: auto;
	text-align: center;
	cursor: pointer;
}
.form-table input{
	width:60px;
	text-align: center;
	cursor: pointer;
}
.form-table input#img_crop_width, .form-table input#img_crop_height {
	width: auto;
}
h3 {
	padding: 0 10px;
}
.widget-shortcode-row {
	background: #f5f5f5;
	padding: 0px;
	font-family: arial;
	font-size: 12px;
}
.widget-shortcode-row td {
	padding: 8px 0px;
}
td.widget_name_td {
	/*width: 100px;*/
	padding-left: 12px;
	text-align: center;
}
td.widget_name_input_td {
	width: 260px;
}
td.widget_shortcode_td {
	width: 200px;
}
td.widget_name_text_td {
	width: 460px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}
td.widget_name_input_td input {
	display: block;
	margin: auto;
	width: 90%;
}
.form-table td p {
	font-size: 13px;
	margin-left: 16px;
}
td.widget_name_text_td p {
	font-size: 12px;
	text-align: center;
}
.form-table .widget_shortcode_td input {
	max-width: 160px;
	min-width: 100px;
}
.bw-shortcode {
	background: #f2f2f2;
	border: 1px solid #bbbbbb;
	display: block;
	padding: 2px 3px;
	text-align: center;
}
.form-table input[type="number"] {
	margin-right: 8px;
	max-width: 60px;
	min-width: 30px;
}
.distribution-sub-tabs {
	padding: 10px 0px;
	margin-top:8px;
	border-bottom: solid 1px #ccc;
}
.dist-sub-link {
	padding: 10px;
	text-decoration: none;
	color: #444;
	background-color: #e7e7e7;
	border: solid 1px #ccc;
	border-bottom:none;
	margin:0px 5px;
	cursor: pointer;
}
.distribution-sub-tabs h2{
	font-weight: bold;
	float: right;
	padding:0px;
}
button.dist-sub-link.active-sub-menu {
	padding: 11px;
	border-bottom: none;
	background-color: #fff;
}
.dist-sub-link.active-menu {
	padding: 11px;
	background-color: #F1F1F1;
}
button.dist-sub-second-link.active{
	background-color: #fff;
	border-bottom:solid 1px #469fa1;
	    border-color: #469fa1;
}
.distribution-sub-menu-tabs {
	padding: 10px 0px 0px;
	margin-top:2px;
	border-bottom:solid 1px #ccc;
	height:39px;
}
button.dist-sub-second-link {
	padding: 10px;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	border: solid 1px #ccc;
	margin:0px 5px;
	border-bottom:none;
	cursor: pointer;
	border-radius: unset !important;
}
a.ui-slider-handle {
	background-image: none !important;
}
.widget-shortcode-row td{
	display:inline-block;
}
.page-header{
	float:left;
}
.form-table.image-crop-fields	input#img_crop_height {
		width: 50px;
	border-radius: 7px;
}
.form-table.image-crop-fields	input#img_crop_width {
		width: 50px;
	border-radius: 7px;
}
.form-table.image-crop-fields	input#img_width {
		width: 50px;
	border-radius: 7px;
}
.form-table.image-crop-fields	input#img_height {
		width: 50px;
	border-radius: 7px;
}
.form-table input#unit_spacing {
		border-radius: 7px;
}
.form-table input#result1{
		border-radius: 7px;
		width:60px;
}
.form-table.image-crop-fields {
		width: auto;
}
.form-table input#unit_excerpt_word_limit {
		border-radius: 7px;
}
.form-table td.fields-padding-left {
	font-weight  : bold;
	padding-left : 50px;
	min-width: 160px;
}
.form-table.google-font-table {
	margin-left: 200px;
}
.form-table td {
	display:inline-block;
	padding:10px 15px;
}
.form-table .evo-pop {
	background: #ffffff;
}
.form-table .evo-palette td {
	padding: 7px;
}
/*.brand-local-content{
	display:none;
}*/
.brand-local-content h3 {
	display:inline-block;
}
.block-default-buttons {
	clear: left;
	max-width: 100%;
}
.SPINKX_edit {
	width: 100%;
}
@media(max-width:1900px){
	.SPINKX_form{
		width: auto;
	}
	.form-table.global-allow input {
		/*width: 60px !important;*/
	}
}
@media(max-width:1700px){
	.SPINKX_edit {
		margin: auto;
	}
}
@media (max-width:1400px){
	.form-table td{
		padding:10px;
	}
	.wp-admin select {
	}
}
@media (max-width:1300px){
	.form-table td.fields-padding-left {
		min-width: 130px;
		padding-left: 10px;
	}
	.form-table.google-font-table {
		margin-left: 130px;
		width: calc(100% - 120px);
	}
}
@media (max-width: 1180px){
	div.block-left-preview {
		float: none;
		width: auto;
	}
	div.block-right-preview {
		width: 400px;
		margin: 20px auto;
		margin-left: 0px;
		max-width: 100%;
		float: none;
	}
	div.preview-height {
		min-height: 0px;
	}
}
@media (max-width: 640px){
	.form-table.google-font-table {
		margin-left: 0px;
		width: 100%;
	}
}

#ajax_create_button {
	background-color: #6fb7d5;
	color:#fff;
    font-size: 16px;
    width: 100px;
	border: 0;
	border-radius: 0;
}
#ajax_delete_button,#ajax_clone_button,#ajax_update_button ,#ajax_cancel_button,#close_new_widget_create, #ajax_reset_button{
	background-color: #6fb7d5;
	color:#fff;
    font-size: 16px;
	border: 0;
	border-radius: 0;
}

strong {
	font-size:13px;
	margin: 0 10px 0 10px;
}
.badge{
	padding: 7px 10px;
	font-size: 25px;
	color:	#c00000;
	background-color: #469fa1;
	border-radius: 40px;
}
.badge-double
{
	padding: 9px 5px;
}
.widget_name_td{
	color: #469fa1;
	font-size: 16px !important;
	font-weight: 800;
}
.choosen-style-div{
	width: 100%;
	margin-left: 10px;
}
.choosen-temp-style-div{
	width: 240px;
	margin-left: 10px;
}
.choosen-style{
	width:94.5%;
	float:right;
	color: #469fa1;
	font-size: 16px;
	font-weight: 800;
	padding-top: 10px;
}
.content-view-td{
	color: #469fa1;
	font-size: 16px !important;
	font-weight: 800;
	display: inline-block;
	margin-left: 10px;
}
.content-left-td{
	padding-left: 70px !important;
}
.content-margin{
	margin-left: 40px;
}
#widget-masonry{
	padding-left: 70px;
	display:inline-flex;
}
#widget-fixed{
	display:inline-flex;
}
#widget_layout_type{
	min-width:15px;
}
#mob_view{
	min-width:15px;
}
#mob_views{
	min-width:15px;
}
#content-msg{
	margin-top: 50px;
	margin-bottom: 20px;
}
.content-check{
	color: #469fa1;
}
.well{
	background-color: #6fb7d5;
	padding:15px;
	border-color: red;
	color: #fff;
}
.table-sub-heading{
	width:145px;
	margin-left: 36px !important;
	font-weight: 700;
	display: inline-block;
}

.global-allow{
	margin-left: 10px;
	background-color: gainsboro;
	margin-top: 20px;
}
.global-allow2{
	margin-left: 50px;
}
.mysite-camp-td{
	margin-left: 5px;
	margin-bottom: 32px;
}
.delivery-guarantee-td{
	margin-left: 5px;
	margin-bottom: 20px;
}
.external-site-td{
	margin-left: 5px;
	margin-bottom: 32px;
}
.campaign-widget-td{
    width: 960px !important;
}
.new-table td,.new-position td{
		padding:10px;
	}
#corner-div{
	display: inline-block;
    margin-left: 15px;
}
#unit_border_style{
	width: 100px;
}
.border-color{
	display: inline-block;
}
.font_style{
	width: 115px;
    margin: 0 10px 0 10px;
}
.font_case
{
	width: 150px;
    margin-top: 9px;
}
.line-style{
	width: 165px;
    margin-left: 20px;
}
/**#unit_excerpt_word_limit{
	margin: 0 5px 0px 20px;
} 
**/
#unit-tall{
	padding-left: 60px;
    display: inline-flex;
}
#unit_layout_type{
	min-width: 15px;
}
.ms-options-wrap > button:focus, .ms-options-wrap > button {
	font-size: 9px;
	border-radius: 5px !important;
	border: 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	padding: 2px;
	line-height: 20px;
	height: 22px;
	vertical-align: middle;
	font-size: 9px;
	font-weight: 600;
	margin-top: 4px;
	float: right;
	width: 100%;
	border: 0;
	background: #fff;
	padding-left: 8px;

	transition: 0.05s border-color ease-in-out
}
.ms-options-wrap > .ms-options {
	background-color: #e4eff4; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border: 0;
	border-radius: 7px;

}
.ms-options-wrap  .ms-options  ul li {
	height: 20px;
	font-size: 9px;
	min-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;

}
.ms-options-wrap  .ms-options ul li label{
	padding-left: 20px !important;
	padding-top: 4px !important;
	padding-bottom: 0px !important;

}
.ms-options-wrap  .ms-options ul li label input[type="checkbox"], .cad-icons input[type="checkbox"] {
	border: 1px solid #b4b9be;
	border-radius: 3px;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 13px;
	margin: -4px 4px 0 0;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	width: 13px;
	min-width: 10px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}

.ms-options-wrap > .ms-options > .ms-search input {
	font-size: 9px;
	font-weight: 300;
}
.ms-options-wrap > .ms-options > .ms-selectall.global {
	font-size: 9px;
	font-weight: 300;
	text-transform: capitalize;
}
.ms-options-wrap > .ms-options > .ms-search input {
	border-bottom: none;
}
.ms-options-wrap > button:after {
	content: ' ';
	height: 0;
	position: absolute;
	top: 57%;
	right: 5px;
	width: 0;
	border: 4px solid rgba(0, 0, 0, 0);
	border-top-color: #999;
	margin-top: -3px;
}
.ms-options-wrap  .ms-options  ul li input[type="checkbox"]:checked:before {
	margin: -2px 0 0 -3px;
	color: #ec971f;
	font-size: 16px;
}
.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover {
	background: none;
}
.intra_exchange_url_textarea-parent, .global_blocked_categories_textarea-parent {
	width: 300px;
}

/**new widget css starts here **/
.wdgt_mn_cntnr_spkx {

margin-top:15px;
display:flex;
justify-content:space-between;
}
div.wdgt_hdr_mn_hldr_spkx {
	border-bottom:1px solid #d6d8e2;
	padding:13px 0px;
	display:flex;
	margin:0 35px;
	justify-content:space-between;
}
.wdgt_hdr_mn_hldr_spkx .lft_lbl_cls {
    margin-left: 5px;
    font-weight: bold;
    color: #0b518e;
    font-size: 14px;
}
.wdgt_hdr_mn_hldr_spkx .rght_lbl_cls {
    margin-right:5px;
     font-weight:bold;
     font-size:12px;

}
.icn_lbl_cls {
	position:relative;
	top:2px;
}
.wdgt_cntnt_sub_hldr {
	box-sizing: border-box;
    padding: 15px 35px;
	line-height:28px;
}
.wdgt_lft_mn_cntnr_spkx {
	width:32%;
	box-sizing:border-box;
	margin-right:15px;
	background-color:white;
	box-shadow:0 1px 15px 1px rgba(113,106,202,.08);
	display:table;
	min-height:383px;


}
.mp_cntnt_sub_hldr {
    width:68%;
    box-sizing: border-box;
	background-color:white;
	box-shadow:0 1px 15px 1px rgba(113,106,202,.08);
	position:relative;
	display:table;
	min-height:383px;



	
}
.mp_cntnt_sub_hldr div img {
	width:100%;
}
.wdgt_cmn_cls_algn_txt > span:first-child {
     min-width: 150px;
    display: inline-block;
    font-weight:bold;
    font-size:13px;
}
.wdgt_cmn_cls_algn_txt span:nth-child(2) {
	font-size:12px;
}
.frst_chld_wdgt_glbl_pst_clas, .secnd_chld_wdgt_glbl_pst_clas  {
   display:block;
   vertical-align:top;
   position:relative

}
.frst_chld_wdgt_glbl_pst_clas {
   min-width:150px;	
   font-weight:bold;
   font-size:13px;

}
.secnd_chld_wdgt_glbl_pst_clas div>span:first-child {
	display:inline-block;
	min-width:100px;

}
.edit_cat_spnx_wdgt {
  margin-left:15px;	
}
.secnd_chld_wdgt_glbl_pst_clas {
 font-size:12px;	
}
.active_dstr {
  display:block !important;	
}
.rtate_arrow:before {
	transform: rotate(0deg);
    left: -16px;
    top: 11px;
    position: absolute;

}
.wdgt_mn_cntnr_spkx div.onoffswitch {
	display: inline-block;
    float: unset;
}
.wdgt_mn_cntnr_spkx label {
	margin-bottom:unset;
}
.grph_wdgt_cntnr, .grph_wdgt_cntnr_grp {
	box-sizing: border-box;
    padding: 15px 35px;

}
.shrtcode_fnt_cls {
	background-color:#38889d;
    font-size: 13px !important;
    font-weight: bold;
    color: #ffffff;
    padding: 4px 5px 4px 6px;
}
.clr_cmn_wdgt {
	cursor: pointer;
    color: #337ab7;
}
/**catergory css starts here **/
.cat_wdgt_mn_cntnr_spkx .wdgt_updt_btn_mn_cntnr {
	margin-top:10px !important;
}
.cat_wdgt_mn_cntnr_spkx {
	position:relative;
	display:none;
	margin-top:10px;
}

.acc-mn-dv-cntainr {
	line-height:18px !important; 
	width:unset !important;
	font-size:12px;
}
.ul-mn-cls-chkbx li {
	font-size:12px;
}
.mn-txt-cmn-dv {
	border-bottom:1px solid #edebeb;
}
.acc-mn-dv-cntainr {
	border:1px solid #edebeb;
}
.ul-mn-cls-chkbx li {
	padding: 05px !important;
    padding-left: 36px !important;
}
/** category css ends here **/ 

/**design css starts here **/
.lft_cntnr_sb_cntnr {
  width:52%;
  box-sizing:border-box;
}
.lft_cntnr_sb_cntnr input[type=radio] {
  display:inline-block;
  margin-top:-1px;	
}
.lft_cntnr_sb_cntnr input[type=number] {
  width:50px;
  border-radius: 7px;
  text-align: center;
  font-size:12px;
  height:24px;
  background:transparent;
}
.lft_cntnr_sb_cntnr input[type=text] {
  width:50%;
  height:24px;
  font-size:12px;
  background:transparent;
}
.cntnt_dstr_shrt_cde {
  width:50%;
  text-align:center;	
}
.cntnt_dstr_cntnr {
	display: flex;
	justify-content:space-between;
}
.cntnt_dstr_cntnr_sh {
	display:none;
}

.wdgt_edit_cmn_cls_spx {
  display: none;
}
.cmn_wdgt_tb_mn_cntnr {
	border:1px solid #e9ebe9;
	margin-bottom:10px;
	background-color:#f5f5f5;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.04);
}
.cmn_wdgt_tb_mn_cntnr select {
   width:unset !important;	
}
.cmn_wdgt_tb_mn_cntnr>div:first-child {
	font-weight: bold;
    font-size: 13px;
    padding:5px 0px;
    cursor:pointer;
}
.wdgt_hdn_cntnt_spkx_cntnr {
  padding:10px 0px;
  margin-left:10px;
  font-size:13px;	
}

.wdgt_hdn_cntnt_spkx_cntnr .font_case {
	margin-top:0px;
}

span.wdgt_px_cmn_cls_spx {
	margin-left:3px;
}
.wdget_fxd_hgt_cntnr {
	margin-left:30px;
	margin-top:10px;
}
.wdget_fxd_hgt_cntnr>div:first-child {
  margin-bottom:7px;	
}
.mn_wdth_dstr_cmn_cls {
   min-width: 100px;
   display: inline-block;	
}
.wdgt_hdn_cntnt_spkx_cntnr select {
   vertical-align:unset !important;	
   font-size:12px;
}
/**slider css **/

.cmn_wdgt_tb_mn_cntnr .ui-state-default, .cmn_wdgt_tb_mn_cntnr .ui-widget-content .ui-state-default {
	background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor:move !important;
}
 .cmn_wdgt_tb_mn_cntnr .wp-picker-container input[type=text].wp-color-picker {
	width:65px !important;
}
.cmn_wdgt_tb_mn_cntnr .ui-slider-horizontal .ui-slider-handle {
	top: -0.7em;
    margin-left: -0.1em;
}
.cmn_wdgt_tb_mn_cntnr .ui-widget-content {
	background: #a9acb1 !important;
    border-radius: 15px;
    height: 4px;
}
/**slider css ends here **/
.mb_sd_cm_cl {
  margin-bottom:10px;	
}
.mr_wdt_dst_cmn_cls_spx div>span:first-child {
  min-width:45px;
  display:inline-block;	
}
.mr_wdt_dst_cmn_cls_spx_ws div>span:first-child {
  min-width:115px;
  display:inline-block;	
}

.mr_wdt_dst_cmn_cls_spx_brdr div>span:first-child {
  min-width:107px;
  display:inline-block;	
}
.mr_wdt_dst_cmn_cls_spx_hp div >span:first-child {
	min-width:65px;
  display:inline-block;
}
.mr_wdt_dst_cmn_cls_hf div>span:first-child {
  min-width:90px;
  display:inline-block;
}
.mr_wdt_dst_cmn_cls_hf .font_style {
	margin:0px;
}

.cmn_wdgt_tb_mn_cntnr>div:first-child {
	padding:6px 8px;
}
.cmn_wdgt_tb_mn_cntnr .fa-chevron-right {
	float: right;
    font-size: 11px;
    margin-top: 4px;
}
.wdgt_hdn_cntnt_spkx_cntnr {
	display:none;
}
.cmn_wdgt_tb_mn_cntnr>div:first-child i:first-child {
    display: inline-block;
    min-width: 22px;
}
.dst_ar_dwn {
	transform: rotate(90deg);
}
.hd_mn_cntnt_dv_spx {
	display:none;
}
.bbtm_tgl_clas {
	border-bottom:1px solid #e9ebe9;
	box-shadow:none !important;
}
.clr_pic_cmn_cls .ui-slider-handle {
	min-width:unset !important;
}
.clr_pic_cmn_cls {
	display:inline-block;
	vertical-align: middle;
}
.cmn_wdgt_tb_mn_cntnr .wp-picker-holder {
	position:absolute;
	z-index:999;
}
.cmn_wdgt_tb_mn_cntnr .iris-slider-offset {
	background:unset !important;
}
.clr_pic_cmn_cls .wp-color-result-text {
	min-width:unset !important;
}
.wdgt_updt_btn_mn_cntnr {
	margin-top:20px;
}

.clr_pic_cmn_cls .iris-slider-offset {
	height: unset !important;
	border-radius: unset !important;

}
 .clr_pic_cmn_cls .ui-state-default{
 	background-color:unset !important; 
    box-shadow:unset !important;
    width:unset !important;
    height: 6px !important;
    border-radius:unset !important;
    cursor:unset !important;
 }

/** right side edit widget starts here **/


/**
.rght_cntnr_sb_cntnr {
   width:48%;
}
**/
#tabsp .tabs-content {
	border: none !important;
	padding: 0px 50px;
}
.design_unit_main_container_spnx {
	border: 1px solid black;
	height: 300px;
    background: rgb(254, 254, 254);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-radius: 6px;
    margin-bottom: 8px;
    width: 236px;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    box-sizing: border-box;
    overflow: hidden;
    margin-left:30px;
}
.design_unit_img_container {
	width: 100%;
}
.design_unit_img_container img {
   width: 100%;
}
.design_unit_content_container {
  padding: 2px 8px;
}
.design_unit_site_view_container {
  font-size: 10px;
}
.design_unit_site_view_container span:nth-child(2) {
  float: right;
}
.design_unit_hdline_container h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    display: block;
}
.aboveimg_cls_spx {
	padding: 0px 8px;
}
.error_widget_val {
  border-color:red !important;
}
.cmn_cls_unit_wdth_hght {
  display: none;
}
.excerpt_txt_mn_cls {
 color:#333333;	
}
/** right side edit widget ends here **/

/** add new widget css starts here **/
.ad_nw_wdgt_mn_cntainer {
   
    width: 68%;
    box-sizing: border-box;
    background-color: white;
    box-shadow:0 1px 15px 1px rgba(113,106,202,.08);
    margin:0 auto;
    margin-bottom: 20px;
    display: none;
}
.hw_to_install a{
	color: #4bacc6;
	font-weight: 800;
	font-size: 18px;
	cursor: pointer;
}
.wd_n_ad_nw_mn_cntnr {
    margin: 35px 0px 20px 0px;
    background-color: white;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}
.add_widget_button {
	background-color: #6fb7d5;
    color: #fff;
    cursor: pointer;
    padding: 5px 14px 6px;
    transition: .25s all ease !important;
    cursor: pointer !important;

}
.add_widget_button:hover{
	transform: translate3d(0,-2px,0);
}
.wi_mn_cntr_wd_spx>span {
    vertical-align: sub;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #0b518e;
}

/** loader css ends here **/


.select_all_cat_cmn_cls {
   color: #337ab7 !important;
   box-sizing: border-box;
   font-size: 9px;
   font-weight: 300;
   text-transform: capitalize;
}
/** add new widget ends here **/

/**new widget css ends here **/

