#slider-range-min {
	max-width: 99%;
	width:130px;
	display: inline-block;
    margin-left:5px;
    vertical-align:middle;
}

#slider-range-min.ui-slider .ui-slider-range {
	background: #018cc3;
}

.wp-admin select {
	cursor: pointer;
}

a.ui-slider-handle {
	background-image: none !important;
}
#ajax_delete_button,#ajax_clone_button,#ajax_update_button ,#ajax_cancel_button,#close_new_widget_create, #ajax_reset_button{
	background-color: #6fb7d5;
	color:#fff;
    font-size: 16px;
	border: 0;
	border-radius: 0;
}
.add_widget_button {
	background-color: #6fb7d5;
    color: #fff;
    padding: 5px 14px 6px;
    transition: .25s all ease !important;
    cursor: pointer !important;
}
.add_widget_button:hover{
	transform: translate3d(0,-2px,0);
}

strong {
	font-size:13px;
	margin: 0 10px 0 10px;
}
#widget_layout_type, #mob_views,#unit_layout_type {
	min-width:15px;
}


