/* Add Widget Preview and UI */
.SPINKX_preview_bg {
	/*padding: 35px;*/
}
.wrap-right {
	width: 35%;
}
.SPINKX_preview_image img {
	width: 100%;
}
.SPINKX_preview_fg {
	overflow: hidden;
}
.block-left-preview {
	float: left;
	width: 55%;
}
.preview-height {
	min-height: 10px;
}
.block-right-preview {
	float: left;
	padding-left: 0;
	width:45%;
}
#im_height_td { display: none}
.wrap-right .wrap-inner {
	width: 100%;
	padding-left: 0;
}
td.move1 {
	padding-left: 111px;
}
td.move2 {
	padding-left: 116px;
}
/****************** css for non masonary ******************/
.wrap-right1 {
	width: 32%;
}
.wrap-right1 .wrap-inner {
	width: 100%;
}
.SPINKX_preview_image1 {
	float: left;
	margin-right: 20px;
	width: 18%;
}
.SPINKX_preview_title_h3 {
	margin: auto;
	padding: 10px;
}
.SPINKX_preview_content #content {
  margin: auto;
  padding: 10px;
}
/******************media query*******************/
/******************media query for 980px*******************/
@media(max-width:980px) {
	.block-left-preview {
		width: 100%;
	}
	.block-right-preview {
		width: 70%;
		float:none;
		margin:auto;
	}
}


@media (max-width:620px) {

	.block-right-preview{
		width:100%;
	}
	td.widget_name_text_td {
		text-align: center;
		width: 100%;
	}
	.block-right-preview{
		width:100%;
	}
	.form-table td.fields-padding-left{
		padding-left:10px;
	}
	.form-table td {
		padding: 4px 2px;
	}
}

@media (max-width:600px){
	.distribution-sub-menu-tabs {
		height: auto;
		border:0px;
	}
	button.dist-sub-second-link.active {
		background-color: #ccc;
	}
	.dist-sub-second-link {
		width: 100%;
		border:solid 1px #ccc !important;
	}
	.distribution-sub-tabs .dist-sub-link {
		border: 1px solid #ccc;
		display: block;
	}
	.distribution-sub-tabs > h2 {
		float: none;
		padding-top:10px;
	}
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.masonry-grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width:100%;
}
.grid-item--width2 {
	width: 49%;
    position: relative !important;
   float: left;
	margin-right: 4px;
}
.grid-item--width3 {
	width:  32%;
	position: relative !important;
   float: left;
   margin-right: 2px;
	}
.grid-item--width4 {
	width:  24%;
	position: relative !important;
   float: left;
   margin-right: 2px;
	}
.grid-item--width5{
	width:  19%;
	position: relative !important;
   float: left;
   margin-right: 2px;
	}
.grid-item--width6{
	width:  16%;
	position: relative !important;
   float: left;
   margin-right: 2px;
	}
.grid-item--height {
	max-height: 960px;
	overflow:auto;
	}
.dskprefix_col3{
	/*min-height: 360px;*/
    overflow: auto;
    /*height: 900px !important;*/
}
.form-table input[type=radio] {
    margin-top: 0px;
	display: inline-block;
}