/* Google fonts */

body, table, th, td, tr {
    font-family:sans-serif;
}
input {
    padding: 5px;
    border: 1px solid #469fa1;
}
input[type="color"] {
    height: 30px;
    padding: 0;
    width: 25px;
    border: 0;
}

tr.hook_post{
    margin-left:20px;
}
.toplevel_page_spinkx-site-register ul.wp-submenu {
    margin: 0;
}
select {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    background: linear-gradient(#E8E8E8, #FBFBFB);
}
input:focus, select:focus{
    outline: none;
}
/* header */
header.container-fluid {
    /*background: #f1eee8;*/
    background: transparent;
}
.logo{
    overflow: hidden;
    text-align: right;
    padding: 10px 15px 20px 15px;
    padding-right: 10%;
}
.logo img {
    max-width: 40%;
    max-height: 40%;
}
.header_right {
    text-align: right;
    padding: 0px 15px;
    color: #767677;
    min-height: 170px;
}
.header_right button.btn.btn-small {
    /*background: white;*/
    border-radius: 0;
    color: #000;
    font-weight: bold;
}
.bottom_links {
    position: relative;
    bottom: -60px;
}


/* Main Container */
section.main_container {
    padding: 20px 0;
}
.auto-pick {
    text-align: center;
    padding: 15px;
}
.auto-pick input {
    padding: 5px;
    width: 30%;
}
.website_category  label {
    color:#469fa1;
}
.website_category select {
    /*background: transparent;*/
    border-radius: 0;
    border: 1px solid #469fa1;
    height: 265px !important;
    overflow-y: auto;
}
.fb-image {
    text-align: center;
}
.fb-image img {
    max-width: 100%;
    max-height: 100%;
}

.ui-widget {
    font-family: 'Open Sans'!important;
}
#tabs, #tabse, #tabsw, #tabsp, #distributiontabs {
    border: 0;
}
.ui-tabs .ui-tabs-panel {
    padding: 20px 40px;
}


ul.nav.nav-tabs li:hover a{
    border-color: transparent;
    background: #a93671;
}
.ui-tabs .ui-tabs-nav {
    background: none;
    border: 0;
    padding-left: 60px;
    border-bottom: 1px solid #469fa1;
    border-radius: 0;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ui-state-focus {
    outline: 0 !important;
    box-shadow: none !important;
}
.ui-tabs .ui-tabs-nav li {
    border-radius: 0;
    margin-right:20px;
    border:1px solid #469fa1;
    background-color: #469fa1;
    margin-top: 0;
}
.ui-tabs .ui-tabs-nav li a:focus{
    outline: none;
    border-color: transparent !important;
    border-radius: 0;
}
.ui-tabs .ui-tabs-nav li  a{
    color: #fff;
    text-decoration: none;
}

/**.ui-widget {
    font-family: 'Open Sans'!important;
}
**/

#tabs, #tabse, #tabsw, #tabsp, #distributiontabs {
    border: 0;
}
.ui-tabs .ui-tabs-panel {
    padding: 20px 40px;
}
.tabs-list, #distributiontabs ul.nav.nav-tabs {
    padding: 0;
    display: inline;
}

.nav.nav-tabs {
    border: 0;
}
.nav.nav-tabs li {
    border-radius: 0;
    margin: 12px 2px 0 0;
    background: #6fb7d5;
    height: 27px;
    width: 153px;
}
.nav-tabs>li>a {
    margin-right: 0;
    line-height: 26px;
    font-weight: 500;
    border: 0;
    font-size: 14px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;

}
.nav.nav-tabs li a:focus{
    outline: none;
    border-color: transparent !important;
    border-radius: 0;
}
.nav:before, .nav:after {
    display: inline;
}
.nav.nav-tabs li  a{
    color: #fff;
    text-decoration: none;
}
.nav.nav-tabs li.active:hover, .nav.nav-tabs li.active a:hover, .nav.nav-tabs li:hover {
    background: #a93671;
    color:#fff;
}
.nav.nav-tabs li.active a {
    background: #a93671;
    border: none;
    cursor: pointer;
}
.tab-contents {
    background: transparent;
}
#tabse .tab-contents {
    border: 1px solid #469FA1;
}
#tabs-2 {
    background: transparent;
}
#tabsw .tabs-content {
    /* background: #fff;*/
}
#tabsw ul {
    padding-bottom: 0;
}
#tabsw ul li{
    border-bottom: 0;
    background: #f0ede7;

}
#tabsw ul li a{
    color: #000;
    font-weight: bold;
}
.widget_bg {
    padding: 40px;
    /*background: #fff;*/
}
.widget_list {
    padding: 20px;
    border: 1px solid #469fa1;
    border-radius: 10px;
}
.widget_list  td a{
    color:#337ab7;
    text-transform: uppercase;
    font-weight: bold;
}
.widget_list thead th {
    font-style: italic;
    color: #469fa1;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background: #fff;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:focus {
    outline: none !important;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a{
    color: #000;
}
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a:focus {
    outline: none !important;
    border-color: transparent !important;
}
li.campaign_bg {
    background: #f0563c !important;
}
#tabse ul{
    border-bottom: 0;
    background: transparent;
    padding-bottom: 0;
}
#tabse ul li {
    background: #f0ede7;
    border-bottom: 0;
}
#tabse ul li a{
    color: #000;
    font-weight: bold;
}
#tabse ul li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background: #fff;
}
#tabse .tab-contents {
    /*background: #fff;8/
    /*min-height: 600px;*/
}
#tabse .form-group input {
    width: 100%;
}
#tabse .form-group {
    display: inline-block;
    width: 35%;
    margin-right: 20px;
}
#tabse-2 label {
    width: 100%;
    color: #469fa1;
    opacity: 1;
}
#tabse-1 label {
    width: 200px;
}
#tabse h4 {
    color: #469fa1;
    margin-bottom: 20px;
}
hr {
    border-top:1px solid #469fa1;
}
#tabse button.btn.btn-info {
    border-radius: 0;
    width: 100px;
    background: #469fa1;
}
.install_guide {
    margin: 10px 0;
    text-align: center;
}
.install_guide a{
    color: #3961ad;
    font-weight: bold;
}

/* widget Tabs */
input[type="radio"] {
    display:block;
}
input[type="radio"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 1px solid #ccc;
}
input[type="radio"]:checked + span:after{
    font-family: FontAwesome;
    content: "\f111";
    color: #118dc5;
    padding: 3px;
    vertical-align: middle;
    top: -2px;
    position: relative;
    font-size: 12px;
}
/*input[type="checkbox"] {
    display:block;
}
input[type="checkbox"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  0%;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked + span:after{
    font-family: FontAwesome;
    content: "\f00c";
    color: #118dc5;
    padding: 1px;
    vertical-align: middle;
    top: -2px;
    position: relative;
}*/
.add_button {
    text-align: center;
    margin: 20px 0;
}

.number_count {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #469fa1;
    text-align: center;
    border-radius: 50%;
    color: #d32f2f;
    vertical-align: middle;
    margin-right: 5px;
    padding: 0px;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

#tabsp ul {
    padding-left: 0px;
    margin-bottom: 5px;

}
#tabsp ul li {
    border: 0;
    border-right: 1px solid #469fa1;
    background: transparent;
    margin-right: 10px;
}
#tabsp ul li:last-child {
    border-right: 0;
}
#tabsp ul li a{
    color: #469fa1;
    font-size: 15px;
    font-weight: 800;
}
#tabsp .col-sm-4.col-md-4 {
    overflow: hidden;
    padding: 0 10px 0px 0px;
    /*height: 360px;*/
}
#tabsp .col-sm-4.col-md-4:last-child{
    padding-right: 0;
}
#tabsw .ui-tabs .ui-tabs-panel {
    padding: 0;
    display: inline-block;
    width: 100%;
}
#tabsw li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    /* background: #fff;*/
}
#tabsp li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background: #EAC489;
}
.pre-img {
    width: 100%;
    overflow: hidden;
}
.pre-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
p.pre-author {
    font-size: 11px;
    color: #929090;
}
.col-sm-3 p.pre-desc {
    /* font-size: 14px !important;
    height: 100px;
    overflow: hidden;*/
    padding: 0px 9px;
}
.col-sm-3 h4.pre-title{
    font-weight: 400;
    padding-left: 10px;
}
ul.likes li {
    border-right: 0 !important;
    list-style: none;
}
ul.likes {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    width : auto;
    float: right;
}
.radio_options {
    padding-left: 40px;
}
.radio_options label {
    margin-right: 20px;
}
#tabsp {
    padding: 0;

}
#tabsp .tabs-content {
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 0;
    min-height:460px;
    max-height: 1155px;
    overflow: auto;
}
h4.instruct {
    padding: 20px;
    border: 1px solid #d32f2f;
    color: white;
    background: #469fa1;
    margin: 40px 0px;
}
#tabsw-2 {
    padding:40px 20px;
}
#tabsp-2 {
    float: left;
    padding: 0;
}
#tabsw-1 {
    padding:40px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e6e7e7;
}
.recent_posts {
    padding: 40px 20px;
    background: #e6e7e7;
    margin: 0px 10px 20px;
}
.manual_settings {
    margin: 40px 20px;
}
.manual_settings input {
    background: linear-gradient(#E8E8E8, #FBFBFB);
    border: 1px solid #ccc;
    margin-right: 5px;
}
#manual1 label {
    min-width: 100px;
}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
    background: #178ec5;
}
.blocked_settings .form-group {
    display: inline-block;
    margin-right: 10px;
}

.blocked_settings .form-group label {
    display: block;
    font-weight: normal !important;
}
/* content Playlist */
.content_playlist_listing .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e4f4fa;
}

table.dataTable {
    border-collapse: separate;
    border-spacing: 5px 20px;
}
table.dataTable tbody tr{

    background-color: transparent;
}

td.sorting_1{
    /*background-color: #ffffff;*/
    border-radius: 8px;
}

div.normal_post{
    height:140px; padding: 7px 0px 0 6px; margin-left:0; border-radius:8px; background-color:#fff; width:auto;

}

div.hook_post{
    height:140px; padding:10px; margin-left:40px; border-radius:8px; background-color: rgba(96,125,139,0.2); width:435px
}

td.cp_sorting div.hook_Post{
    padding-left:20px;
}

div.hook_post:before {
    content: "\21B3";
    float: left;
    margin-left: -51px;
    margin-top: -14px;
    font-size: 30px;

}


.playlist_stats_display{
    padding-top:4px;
}

.playlist_img {
    height:120px;
    width:160px;
    float: left;
    overflow: hidden;
    border-radius:6px;

    /*padding-right:10px;*/
}
.playlist_img img {
    height:120px;
    /*width:160px;*/
    /*border-radius: 5px;*/
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.playlist_post_title {
    /*float:left;*/
    /*  width:300px;*/
    overflow-wrap: break-word;
    font-weight:bold;
    font-size: 12px;
    color:#0170b6;
}



.playlist_post_desc {
    padding-left: 8px;
    float: left;
    width: 300px;
    height: 120px;
    overflow: hidden;

}
div.hook_post .playlist_post_desc {
    padding-left: 8px;
    float: left;
    width: 240px;
    height: 120px;
    overflow:hidden;

}

.playlist_post_id{
    float:left;
    font-size: 10px;
}
.playlist_post_pub_date{
    float:left;
    font-size: 10px;
    margin-left:10px;
}
.playlist_post_reach{
    float:left;
    margin-left:0px;
    color: #0170b6;
    font-size: 12px;
}
.playlist_post_views{
    float:left;
    margin-left:16px;
    color: #0170b6;
    font-size: 12px;
}
.playlist_post_ctr, .playlist_post_ecpc{
    float:left;
    margin-left:16px;
    color: #0170b6;
    font-size: 12px;

}
.playlist_post_reach_value, .playlist_post_ecpc_value, .playlist_post_ctr_value{
    color: #3e3e3e;
    font-size: 10px;
    font-weight: 600;
}

/** viksedit adhook stuff */
div.addhook_form{
    height: 172px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 420px;
}
div.addhook_choose_image{
    width: 152px;
    height: 152px;
    border: 1px dotted #3e3e3e;
    float: left;
    margin: 10px 6px;
    overflow: hidden;
}

div.addhook_choose_image img{
    /*height:100%;*/
    height: 150px;
    width: 150px;
    /*border-radius: 5px;*/
    max-width: 100%;
    max-height: 100%;

    object-fit: cover;

}


div.addhook_title{ float:left; width:120px; margin:4px 10px; height:20px; }
div.addhook_title input{
    float: left;
    border: 1px dotted #3e3e3e;
    width: 232px;
    height: 26px;
    margin: 6px 0;
}

div.addhook_excerpt{
    float: left;
    height: 83px;
    width: 232px;
    margin: 18px 10px;
}
div.addhook_excerpt textarea{
    height:115px;
    border: 1px dotted #3e3e3e;
}

.addhook_images_selector ul li {
    float: left;
    margin: 0 -10px;
}

#addhook_images_overlay {
    background: rgba(0,0,0, 0.75);
    width: 75px;
    margin-left: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color:#f1f1f1;
}
.addhook_each_photo {
    position: relative;
}

img.addhook_each_photo {

    position: relative;
}

div#addhook_images_overlay i.fa {
    padding: 30% 30%;
}
img.variation_imgs{
    width: 85px;
    height: 70px;
    /* width: 96px; */
    /* border-radius: 5px; */
    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

.playlist_post_views_value{
    color: #3e3e3e;
    font-size: 10px;
    font-weight: 600;
}




.btn-primary{
    border-radius: 0;
    border-color: transparent;
}

.content_playlist_listing table td {
    vertical-align: top;
}

td ul {
    padding: 0;
}
td li {
    list-style: none;
    min-height: 25px;
    min-width: 95px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
td li span {
    padding: 2px 8px;
    background: #469fa1;
    color: white;
    border-radius: 6px;
    float: left;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
li.lgof {
    min-width: 30px !important;
    min-height: 30px !important;
    float: left;
    padding: 0 !important;
}
li.lgof span {
    width: 30px !important;
    height: 30px !important;
    font-size: 20px;
    padding: 0 !important;
    text-align: center;
}
td li i {
    float: right;
}
td div span {
    /*padding: 2px 8px;
    background: #469fa1;
    color: white;
    border-radius: 10px;
    cursor : pointer;
    width: 30px;
    height: 30px; */
}
td span.off_danger {
    background: #f0563c;
    border: 1px solid #469fa1;
}
.content_playlist_listing{
    background: transparent;
    padding: 0px;
}
.on_after {
    padding:0;
    color:#469fa1;
}
.on_after:after {
    content: "/";
    margin-left: 5px;
}
.pull-right{
    font-size: 13px !important;
    font-weight: 500;
}
.spnx-statistcs { float: left; text-align:right;display: inline-block; margin-top: 12px; width:272px;}
.spnx-statistcs > span{ line-height: 29px !important; font-size: 13px; font-weight: 500; }
.spnx-statistcs #reportrange { background: #fff; cursor: pointer; padding: 5px 10px; margin-right:10px; border: 1px solid #ccc;}
td span.unclickable{
    background: #467BA1;
    cursor: auto;
}
.auto_title {
    width: 72px;
}
.content_desc {
    width: 200px;
    overflow: hidden;
}
.ab-show-all {
    margin-right: 2%;
}
.add_hook {
    display: inline-block;
}
span[title="Delete Hook"] i {
    padding: 8px 10px;
    font-weight: bold;
    color: white;
}
@media only screen and (min-width:980px) {
    .container {
        width: 100%;
    }
}


/* overridden css */

.distribution-sub-menu-tabs {
    height: auto !important;
}
button.dist-sub-second-link.active {
    border-bottom: 0 !important;
}
/*.wrap-inner { /*padding: 20px 10px !important; margin: 70px auto 10px auto; position: absolute;}*/
button.dist-sub-second-link {
    background: #f0ede7 !important;
    border-color: #469FA1 !important;
}
button.dist-sub-second-link.active {
    /*background: #fff !important;*/
}
.brand-local-content .form-table td {
    /* width: auto !important;*/
}

input[type="file"][name="image"] {
    width: 115%;
    padding: 3px 5px;
}
.jumbotron .col-sm-3 .btn-primary {
    padding: 6px 12px;
    border: 0;
}

#campaign_subtabs {
    border: 0;
}
.campaign_page {
    border: 0 !important;
}
.backgroundGreen {
    background: green;
    color: white;
    padding: 0 5px;
}
#cpm_val, #debt_val {
    margin-left: 5px;
}

.details.row input {
    width: 100%;
}
.details.row .col-sm-6{
    padding: 0;
}

th.sorting[aria-label="Head Line &amp; Excerpt: activate to sort column ascending"] {
    width: 200px;
    overflow: hidden;
}
table#SPINKX_sites_display {
    table-layout: inherit !important;
}
table#SPINKX_widgets_display td span {
    width: 100% !important;
    height: auto;
}
.badge {
    width: 40px;
    height: 40px;
    font-style: italic;
    color: #f0563c !important;
    font-weight: bold;
}
table.new-table span.badge {
    background: #f0563c;
    color: #469fa1 !important;

}
a#website_content_manual, a#global_distribut_manual, a#Sponsored_content_manual, a#own_campaign_manual {
    color: #f0563c !important;
}
.col-sm-3.col-md-3.SPINKX_preview_fg.dskpre_col3.dskprefix_col3 {
    padding: 0px;
    /*  width: 145px !important;
      margin-right: 6px !important;
      border-width: 0 !important;
      border-radius: 5px !important;
      display: block;
      box-shadow: 1px 1px 1px #848282;*/
}
.col-sm-3.col-md-3.SPINKX_preview_fg.dskpre_col3.dskprefix_col3:last-child {
    margin-right: 0 !important;
}
.col-sm-12.col-md-12.SPINKX_preview_fg, .col-sm-5.col-md-5.mob_column.SPINKX_preview_fg, .col-sm-5.col-md-5.SPINKX_preview_fg.dskpre_col2, .col-sm-2.col-md-2.SPINKX_preview_fg.dskpre_col4 {
    border-width: 0 ;
    border-radius: 5px ;
    padding: 0;
    box-shadow: 1px 1px 1px #848282;
}
p.pre-desc {
    padding: 0px 0px 0px 11px !important;
    margin-bottom: 5px;
}
#tabsp .col-sm-2.col-md-2.SPINKX_preview_fg.dskpre_col4 {
    width: 24.3% !important;
//margin-right: 3px !important;
}
.col-sm-2.col-md-2.SPINKX_preview_fg.dskpre_col4 .SPINKX_preview_title_h3 {
    margin: auto;
    /* font-size: 16px !important;
    line-height: normal !important; */
    padding: 5px !important;
}
.col-sm-2.col-md-2.SPINKX_preview_fg.dskpre_col4 p.pre-desc {
    padding: 5px;
    /* font-size: 14px !Important;
    line-height: normal !important; */
}
.col-sm-3.col-md-3.SPINKX_preview_fg.dskpre_col5{
    padding: 0;
    /* margin-bottom: 10px; */
    width: 32.8% !important;
}
.col-sm-3.col-md-3.SPINKX_preview_fg.dskpre_col6 {
    padding: 0;
    margin-bottom: 8px;
    width: 33% !important;
}
.col-sm-5.col-md-5.mob_column.SPINKX_preview_fg {
    width: 49% !important;
//margin-right: 4px !Important;
}
.col-sm-5.col-md-5.SPINKX_preview_fg.dskpre_col2 {
    width: 49.5% !important;
}

.SPINKX_preview_fg {
    overflow: hidden !important;
}

input#fileUri {
    width: 57%;
    float: left;
    margin-right: 2px;
    background: #fff;
}
label[for="inputFile"] {
    width: 42%;

}
label[for="inputFile"] a {
    color: white;
    font-size: 12px;
    padding: 8px !important;
}


#distributiontabs .card {
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}


/* viksedit for on off switch ios 7 style in bootstrap for on/off posts in playlist
source: https://proto.io/freebies/onoff/
*/
div.onoffswitch {
    float:left;
    margin-left:10px;
    position: relative; width: 36px;
    webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

input.onoffswitch-checkbox {
    display: none;
}

label.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0 solid #999999; border-radius: 20px;
}

span.onoffswitch-inner {
    background-color: #999999;
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

span.onoffswitch-inner:before, span.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 15px;
    padding: 0 18px;
    line-height: 15px;
    font-size: 8px;
    color: white;
    /** font-family: "Open Sans"; **/
    font-weight: 200;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

span.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #23bf4a; color: #ffffff;
}

span.onoffswitch-inner:after {
    content: "OFF";
    background-color: #999999;
    color: #ffffff;
    padding-right: 3px;
}

span.onoffswitch-switch {
    display: block;
    width: 13px;
    height:13px;
    margin: 1px;
    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

input.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

td.cp_sorting{
    /*background-color: #FFFFFF;*/
}
.content_playlist_listing table.dataTable tbody td.cp_sorting {
    padding-bottom:0px;
    padding-top:10px;
}
.content_playlist_listing table td{
    vertical-align: top;
}
.content_playlist_listing table.dataTable {
    margin-left: 0;
    table-layout: auto;
}
td.cp_sorting {
    /*  width:44%; */
    /* border-radius:5px;*/


}
.dataTables_length select{
    margin: 0 10px;
}
.dataTables_length label{
    display: inline-flex;
}
.dataTables_length div#bwki_sites_display_filter {
    display: none;
}

/* Boost Post Modal */
.modal-footer{
    clear:both;
    margin-top: 20px;
}

#left_div_modal_body{
    float: left;
    width: 350px;
    height: 350px;
    overflow: scroll;

}

.modal .playlist_post_title{
    float:left;
    width:168px;
    padding-left:8px;
    overflow-wrap: break-word;
    font-weight:bold;
}

.modal .playlist_post_desc{

    padding-left: 8px;
    float: left;
    width: 152px;
    height: 140px;

}

#right_div_modal_body{
    float: left;
    width: 320px;
    height: 400px;
    margin-left: 82px;
}


#boostmodal .modal-dialog{
    width:800px;
}

#show_estimation th{
    font-size:1em;
}

/******** End Boost Psot Modal *************/
div.dashboard_cols td,th{

    padding:0 2%;

}

div.dashboard_cols{
    background-color: #1dbd45;
    padding:8px;
}

div.onoff_header{
    margin-top:8px;
}
div.onoff_header .onoffswitch{
    margin-top:2px;
}
div.onoff_header input[type=button]{
    height: 20px;
    font-size: 9px;
    margin-left: 10px;
    margin-top:0;


}
.dataTables_filter {
    display: none;
}

.daterangepicker .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th { padding: 0; font-size: 9px;}
.daterangepicker .calendar td { min-width: 20px; }
.ranges li{font-size: 9px; font-weight: 800; margin-bottom: 5px;}
.daterangepicker .input-mini {height: 20px; line-height: 20px; padding: 0 0 0 20px; margin-bottom:16px; font-size: 11px; width: 94%;}
.daterangepicker .daterangepicker_input i{ display: none;}
.daterangepicker .range_inputs .btn-sm{ font-size: 10px; line-height: normal; border-radius: inherit; padding: 2px 10px;}
.daterangepicker.ltr .calendar.left .calendar-table{ padding-right: 18px; }
.daterangepicker .calendar th, .daterangepicker .calendar td{ min-width: 25px;height: 16px;}
.spnx-menu-logo{ display: inline; margin-right: 10px; float: left; }
.spnx-menu-logo > span img { height: 50px; }
#wpwrap, .wrap, #wpcontent, #wpfooter { background-color: #f3f6f8; }
.spnx-sync{ display: inline; margin-left: 10px; float: left; cursor: pointer; }
.spnx-sync img { height: 23px; background: none !important; margin-top: 14px; }
#content_play_list #bwki_sites_display_length, #campaigns #bwki_sites_display_length { padding-top: 22px; }
#content_play_list #bwki_sites_display_length label, #campaigns #bwki_sites_display_length label{ font-weight: normal; font-size: 12px;}
#content_play_list #bwki_sites_display_length select, #campaigns #bwki_sites_display_length select{ font-weight: normal; font-size: 10px; height: 18px; line-height: 18px;}
#content_play_list #bwki_sites_display tbody tr td:nth-child(2), #content_play_list #bwki_sites_display tbody tr td:nth-child(3), #campaigns #bwki_sites_display tbody tr td:nth-child(2), #campaigns #bwki_sites_display tbody tr td:nth-child(3)   { padding-left:9px; }
#content_play_list #bwki_sites_display thead th .onoff_header, #campaigns #bwki_sites_display thead th .onoff_header { display: inline-block; margin-top: 2px;  margin-left: 10px; }
#content_play_list #bwki_sites_display thead th:nth-child(2) .onoff_header input:hover, #campaigns #bwki_sites_display  thead th:nth-child(2) .onoff_header input:hover { background-color: #1dbd45; color:#fff; }
#content_play_list #bwki_sites_display thead th:nth-child(3) .onoff_header input:hover, #campaigns #bwki_sites_display  thead th:nth-child(3) .onoff_header input:hover{ background-color: #0170b6; color:#fff; }
.btn-sm { padding: 4px 10px; font-size: 9px; border-radius: 3px; }

div.addhook_excerpt2 { width: 398px; display: block;}
div.addhook_title2, div.addhook_title2 input { width: 398px; margin:0; }
div.addhook_form2{ height: 130px;}
div.addhook_videoform{ height: auto;}

/*div.addhook_form.createAd { height:200px; }*/
div.create-ad-field{ height:35px;}
.form-control2{
    padding:0;
    font-size: 9px;
    line-height: 0;
    color: #555;
    background-color: transparent;
    background-image: none;
    border:0;
    box-shadow: none;

}
#daterange {
    cursor: pointer;
    width: 180px;
    z-index: 9;
}
input.form-control2:hover,input.form-control2:focus { background-color: #e4eff4; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }
textarea.splcaheholder::-webkit-input-placeholder { color: #337ab7; }
textarea.splcaheholder::-moz-placeholder {color: #337ab7; }
textarea.splcaheholder:-ms-input-placeholder { color: #337ab7; }
.cad-icons {display: block; height: 33px;}
.cad-icons img { width: 25px;}
.wrap-inner a:focus, .wrap-inner a:hover, a.spnx-faq:hover{
    text-decoration: none !important;
}
.btn-social-bp, .btn-social-bp a {
    background: #6fb7d5;
    color: #fff;
    border-color: #6fb7d5;
}

.btn-social-bp a:hover {
    background: #a93671;
}

.btn-social-stat {
    font-size: 10px;
    font-weight: 600;
    width: 22px;
    text-align: center;
    display: inline-block;
}
.notice-spnx-cp,.notice-spnx-campaigns {
    top: 6px;
    margin: 0px;
    clear: both;
    width: 99.4%;
}
.notice-spnx-cp span.message, .notice-spnx-campaigns span.message {
    font-weight: 500;
}
.ms-options-wrap > button:focus, .ms-options-wrap > button {
    font-size: 9px !important;
    border-radius: 5px !important;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.07) !important;
    padding: 2px !important;
    line-height: 20px !important;
    height: 22px !important;
    vertical-align: middle !important;
    font-weight: 600 !important;
    margin-top: 4px !important;
    float: right !important;
    width: 100% !important;
    border: 0 !important;
    background: #fff !important;
    padding-left: 8px !important;

    transition: 0.05s border-color ease-in-out
}
.ms-options-wrap > .ms-options {
    background-color: #e4eff4 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border: 0;
    border-radius: 7px;
}
.ms-options-wrap  .ms-options  ul li {
    height: 20px;
    font-size: 9px;
    min-height: 20px;
    margin-bottom: 0px;
    margin-left: 5px;

}
.ms-options-wrap  .ms-options ul li label{
    padding-left: 20px !important;
    padding-top: 4px !important;
    padding-bottom: 0px !important;

}
.ms-options-wrap  .ms-options ul li label input[type="checkbox"], .cad-icons input[type="checkbox"] {
    border: 1px solid #b4b9be;
    border-radius: 3px;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 13px;
    margin: -4px 4px 0 0;
    outline: 0;
    text-align: center;
    vertical-align: middle;
    width: 13px;
    min-width: 10px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}

.ms-options-wrap > .ms-options > .ms-search input {
    font-size: 9px;
    font-weight: 300;
}
.ms-options-wrap > .ms-options > .ms-selectall.global {
    font-size: 9px;
    font-weight: 300;
    text-transform: capitalize;
}
.ms-options-wrap > .ms-options > .ms-search input {
    border-bottom: none;
}
.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 57%;
    right: 5px;
    width: 0;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}
.ms-options-wrap  .ms-options  ul li input[type="checkbox"]:checked:before {
    margin: -2px 0 0 -3px;
    color: #ec971f;
    font-size: 16px;
}
.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover {
    background: none;
}
.bpopup {
    display: none;
}
/** babuhussains css starts here **/

.tt-txt-btn-cmn-cls {
    vertical-align: text-bottom;
    margin-left: 5px;
}
.tt-txt-btn-cmn-cls-input {

    margin-right: 4px;
}
.clrsave {
    background-color: #1dbd45 !important;
    padding: 0 6px 2px 6px;
    font-size: 10px !important;
    outline: none;
    color: white;
    border: 1px solid #0b982e;
}
.clrsave:active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.tt-txt-btn-cmn-cls-input input {
    height: 21px;
    font-size: 10px;
}
.duration-text-first-span {
    color: #0170b6;
    font-size: 10px;
}
.duration-text-first-span-span-crnt {
    color: #0170b6;
    font-size: 13px;
    margin-left: 15px;
}
.cntnr-main-drn-cls {
    padding: 2px 8px 8px 8px;
    background-color: white;
    border-radius: 3px;
    margin-top: 4px;
    width:85%;
    margin-left: 24px;

}
.fnt-awsm-spn {
    clear: both;
}
.fnt-awsm-spn i {
    color: #b5b5b5;
    float: right;
    cursor: pointer;
    font-size: 11px !important;
    margin-top: 4px !important;
}
.fnt-awsm-spn i:hover {
    color:#545556;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.cog-fnt-awe-cls {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    top:-2px;
}
.cog-fnt-awe-cls i {
    color: #747575;

}
.cog-fnt-awe-cls i:hover {
    color: #545556;
}
.pencil-edit-fontawe {
    cursor: pointer;
}
.pencil-edit-fontawe:hover {
    color: #747575;
}

.spnx-dshb-mn-cntr {

    font-size: 14px;
    color: #717070;

}
.spnx-sec-mn-cntr {
    margin-top: 15px;
}
.spnx-sec-one-chld-mn-cntnr {
    background-color:white;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 11px 20px;
    height: 115px;
    color: black;



}
.label-pints-mny-cmn-cls {
    font-weight: 600;
    font-size: 12px;
    margin-top: 3px;
}
.cmn-cls-spnx-tab {
    margin-right: 11px;
}
.spnx-sec-one-chld-mn-cntnr:last-child {
    margin-left:0%;
}
.spnx-thrd-chld-mn-cntr {
    display: inline-block;
    vertical-align: top;
}
.spnx-flex-strt {
    float: left;
}
.spnx-flex-end {
    float: right;

}
.spnx-flex-center-second {
    margin-left: 60px;
}
.bold-spnx-txt-cmn-cls {
    font-weight: bold;
    color: #0b518e;
}
.ver-alg-fnt-awe-main {
    margin-top: 11px;
}
.points-cmn-cls-spnx {
    margin-top: 11px;
    margin-bottom: 7px;
}
.liceence-key-cls {
    clear: both;

}
.liceence-key-cls span {
    font-size:11px;
}
.points-cmn-cls-spnx i {
    margin-right: 20px;
}
.site-dtls-cmn-cls-spnx {
    margin-top: 11px;
}
.site-dtls-cmn-cls-spnx span {
    font-size: 11px;
}
.spnx-thrd-chld-mn-cntr-grph {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 77%;
    padding:13px 20px;
    margin-right:11px;
    box-sizing: border-box;

}
.spnx-thrd-chld-mn-cntr-views-clmn {

    display: inline-block;
    vertical-align: top;
    width: 21%;
    box-sizing: border-box;
}
.widget-cmn-cls-wid {
    background-color: white;
    margin-top: 10px;
    padding: 9px 19px 5.8px 19px;
    box-sizing: border-box;

}
.widget-cmn-cls-wid:first-child {
    margin-top: 0px;
}
.ellispses-cmn-cls-spnx {
    float: right;
}
.locl-pst-bst-pst-cmn-cls {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 13px 20px;
    font-size: 13px;

}
.lcl-hrzntl-cls {
    margin-right: 11px;
    width:48.5%;
}
.lcl-hrzntl-cls-second {
    width: 49.5%;
}
.cmn-hrzntl-cls-spn {
    margin-right: 15px;
}
.cmn-hrzntl-cls-spn:last-child {
    margin-left:0;
}
.spnx-flex-new-cmn {
    width:35%;
}
@media screen and (max-width:1130px) {
    .spnx-sec-one-chld-mn-cntnr {
        display: block;
    }
    .spnx-sec-one-chld-mn-cntnr {
        width: 100%;
        margin-top: 15px;
    }
    .spnx-thrd-chld-mn-cntr-grph {
        width: 100%;
    }
    .spnx-thrd-chld-mn-cntr-views-clmn {
        width: 100%;
    }
    .widget-cmn-cls-wid:first-child {
        margin-top: 10px;
    }
    .lcl-hrzntl-cls {
        width: 100%;
    }
    .lcl-hrzntl-cls-second {
        width:100%;
        margin-top: 10px;
    }
    .spnx-dshb-mn-cntr {
        font-size: 14px;
    }
    .spnx-sec-mn-cntainter {
        display: block !important;
        width:100% !important;
    }
    input[type=radio], input[type=checkbox] {
        height: 16px;
        width: 16px;
        min-width: 16px;
    }
    input[type=radio]:checked:before {
        width: 6px !important;
        height: 6px !important;
        margin: 4px;

    }
    .radio-cntnr-mn-cls-cmommon, .label-cntnr-mn-cls-cmommon-sec {
        display: inline-block !important;

    }
    .radio-cntnr-mn-cls-cmommon {
        margin-right: 7px;
    }
}
@media screen and (max-width:1200px) {
    .radio-cntnr-mn-cls-cmommon {
        margin-right: 7px !important;
    }
}
@media screen and (max-width: 782px) {
    .widefat tfoot td input[type=checkbox]:before, .widefat th input[type=checkbox]:before, .widefat thead td input[type=checkbox]:before, input[type=checkbox]:checked:before {
        font: 400 21px/1 dashicons;
        margin: -3px -5px;
    }
}
@media screen and (max-width: 770px) {
    .cmn-arw-cmn-clas-dv {
        top:17px !important;
    }
    .font-awesome-icon-align-cmn-cls-down {
        top:35px !important;
    }
    .text-spninks {
        align-items: unset !important;
        display: unset !important;
        justify-content: unset !important;
        width: unset !important;
    }
    .image-container-cls-reg-spnx {

        margin-bottom:20px;
        width: 150px !important;


    }
    .reg-lbl-txt {
        font-size: 20px !important;
        margin-bottom: 15px;
        text-align: left !important;
    }

}
@media screen and (max-width:410px) {
    .continue-spnx-reg-button-cntnr button {
        margin-left: 0px !important;
        margin-top: 15px;
    }
    .error-cmn-clas-spnx-terms-condition {
        position: relative;
        top:-43px;
    }
}
@media only screen and (max-width: 1368px) and (min-width:1130px) {
    .continue-spnx-reg-button-cntnr button {
        margin-left: 0px !important;
        margin-top: 15px;
        display: block;
    }
    .error-cmn-clas-spnx-terms-condition {
        position: relative;
        top:-43px;
    }
}

/** registration content starts here **/
.spnx-reg-mn-cntainter {
    font-size: 13px;

    margin: 15px 25px;

}
.reg-lbl-txt {
    text-align: center;
    font-size: 20px;
}
.spnx-sec-mn-cntainter {

    display: inline-block;
    width: 32%;
    margin-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
}
.spnx-sec-mn-cntainter:last-child {
    margin-right:0;
}
.spnx-box-reg-cmn-cls {

    margin-top: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px 20px;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
}
.radio-cntnr-mn-cls-cmommon {
    display: inline-block;
    margin-right: 10px;

    vertical-align: top;
}
.spnx-rdio-dv-cmn-cls {
    margin-top: 18px;
    clear: both;
}
.label-cntnr-mn-cls-cmommon-sec {
    line-height: 18px;
    display: inline-block;
    width: 89%;
    vertical-align: top;
    color:#545454;
    font-size: 12px;
}
.spnx-knw-more-cmn-cls {
    margin-top: 20px;
    color: #0273d4;
}
.spnx-knw-more-cmn-cls a {
    text-decoration: none;
    color: #0273d4;
}
.header-cmn-cls-spnx {
    font-size: 14px;
    font-weight: 600;
}
.vrticl-align-cmn-cls-spnx-reg {

}
.catog-des-cmn-cls-spnx-reg {
    font-size: 13px;

    color: #5f5c5c;
    font-weight: 600;
}
.vrticl-btm-cmn-cls-reg {
    margin-bottom: 5px;
    margin-top: 17px;
}
.select-div-common-class-spnx-reg select {
    /*width: 70%;*/
}
.cmn-arw-cmn-clas-dv {
    position: absolute;
    top:9px;
    right: 0px;
}
.cmn-arw-cmn-clas-dv i {
    color: #9e9d9d !important;
}
.cmn-arw-cmn-clas-dv .fa-sort-down:before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}
.lower-text-cmon-cls-spnx-reg {
    margin-top: 15px;
    line-height: 18px;
}
.lrn-more-spnx-reg a {
    font-size: 12px;
}
.pls-note-cmn-cls-spnx{
    font-weight: bolder;
}
.cmn-cls-verticl-bus-spnx-reg {
    margin-bottom: 0px;
    position: relative;
}
.font-awesome-icon-align-cmn-cls {
    position: absolute;
    right: 7px;
    top: 23px;
}
.font-awesome-icon-align-cmn-cls-down {
    position: absolute;
    right: 2px;
    top:27px;
}
.font-awesome-icon-align-cmn-cls-down .fa-sort-down:before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}
.font-awesome-icon-align-cmn-cls-down i {
    color:#9e9d9d !important
}
.font-awesome-icon-align-cmn-cls i {
    color:#9e9d9d !important
}
.font-awesome-icon-align-cmn-cls-down-ctegry {
    position: absolute;
    right: 38px;
    top: 11px;
}
.font-awesome-icon-align-cmn-cls-down-state {
    position: absolute;
    right:12px;
    top:26px;
}
.cmn-cls-verticl-bus-spnx-reg input {
    margin-top:4px;
    width: 100%;
    box-sizing: border-box;
    border-bottom:1px solid #bfbdbd;
    outline: none;
    font-size: 11px;
    border-top: none;
    border-left: none;
    border-right:none;
    padding:3px 5px;
    box-shadow: none;
    font-weight: 600;
    color: #a7a7a7;
}
.cmn-cls-verticl-bus-spnx-reg-sitename input {
    margin-top:4px;
    width: 60%;
    box-sizing: border-box;
    border-bottom:1px solid #bfbdbd;
    outline: none;
    font-size: 12px;
    border-top: none;
    border-left: none;
    border-right:none;
    padding:3px 10px;

    box-shadow: none;
}
.cmn-cls-verticl-bus-spnx-reg select , .select-div-common-class-spnx-reg select{

    box-sizing: border-box;
    border-bottom:1px solid #bfbdbd;
    outline: none;
    border-top: none;
    border-left: none;
    border-right:none;
    padding:0 5px;
    background-color: transparent;
    margin-bottom: 18px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    box-shadow: none;
    font-size: 10px !important;
    font-weight: 600;
    color:#a7a7a7;
}
.select-div-common-class-spnx-reg select {
    margin-bottom:0px !important;
}
.cntry-rgn-cmn-cls-spnx-reg select{

    width: 100%;
}
.select-vrticl-align-cmn-cls select {

    width: 100%;
}
.pin-code-main-cntnr {

    margin-right: 1.5%;
    width: 48.5%;
    display: inline-block;
}
.state-main-cntnr {

    width:48.5%;
    display: inline-block;
}
.money-trnsfer-main-class-spnx-cntnr input {
    margin-top:15px;
    width: 100%;
    box-sizing: border-box;

    outline: none;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right:none;
    padding:11px;
    background-color:#0eb1ce;
    color: white;
    box-shadow: none;
}
.money-trnsfer-main-class-spnx-cntnr input::-webkit-input-placeholder {
    color: black;
}
.continue-spnx-reg-button-cntnr button {
    padding: 7px 16px;
    background-color: #106cc8;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: .25s all ease;
    cursor: pointer;
    margin-left: 20px;
}
.continue-spnx-reg-button-cntnr button:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0 4px 4px rgba(0,0,0,.26);
}
.horizntal-align-cmn-cls-spnx-reg {

    color:#444444;
    font-size: 12px;
}
.lower-color-cmn-cls-spnx-reg {
    color:#444444;
    font-size: 12px;
}
.awsome_input-spnx-reg{
    padding: 5px 10px;
    border: none;
    background: transparent;
    display: block;
}
.awsome_input-spnx-reg-sitename {
    padding: 5px 10px;
    border: none;
    background: transparent;

}
.awsome_input-spnx-reg-sitename:active,.awsome_input-spnx-reg-sitename:focus {
    outline: none;
    box-shadow:none !important;
    border-bottom: 1px solid #bfbdbd !important;
}
.awsome_input_border-spnx-reg{
    display:inline-block;
    width:0;
    height: 2px;
    background:#106cc8;
    position: relative;
    top:-13px;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.awsome_input-spnx-reg:active,
.awsome_input-spnx-reg:focus{
    outline: none;
    border-bottom: 1px solid transparent !important;
    box-shadow:none !important;
}
.awsome_input-spnx-reg:active+.awsome_input_border-spnx-reg,
.awsome_input-spnx-reg:focus+.awsome_input_border-spnx-reg{
    width:100%;
}
.fa-time-cmn-cls-cross {
    margin-left: 10px;
}

.spacing-vertical-common-class-reg {
    margin-top: 10px !important;
}
.login-signup-button-facebook-spnx-reg {
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #3b5998;
    cursor: pointer;
    color: white;
    vertical-align: text-bottom;
}
.input-type-common-class-login-registration-spnx-re {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 11px 0 !important;
    padding-left: 11px !important;
    font-size: 14px !important;
}
.login-signup-button-google-plus-spnx-reg span i, .login-signup-button-facebook-spnx-reg span i {
    vertical-align: text-bottom;
    margin-right: 12px;
}
.login-signup-button-google-plus-spnx-reg {
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #d34836;
    cursor: pointer;
    vertical-align: text-bottom;
    color: white;
}
.select-div-common-class-spnx-reg .ms-options-wrap > button:focus, .select-div-common-class-spnx-reg .ms-options-wrap > button{
    border-bottom: 1px solid #aaa !important;
}
.select-div-common-class-spnx-reg .ms-options-wrap > button:focus, .select-div-common-class-spnx-reg .ms-options-wrap > button {
    box-shadow:unset!important;
    border-radius:0px !important ;
}
.horizntal-align-cmn-cls-spnx-reg:before {
    content: ':';
    margin-right: 2px;
}
.align-spnx-css {
    margin-left: 18px;
}
.image-container-cls-reg-spnx {
    width: 200px;
}
.image-container-cls-reg-spnx img {
    width: 100%;
}
.spnx-reg-mn-cntainter .fa-sort-desc {
    color: #929191;
}
.continue-spnx-reg-button-cntnr  input[type="checkbox"] {
    vertical-align: sub;
}
.text-spninks {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:55.5%;
}
.spinx-log-reg-iframe {
    height: 107px;
}
.wid-rev-point-icon-dv-cmn {
    width: 25px;
    display: inline-block;
    vertical-align: top;
}
.fnt-size-cmn-cls-spnx {
    font-size:17px;
    margin-left: 10px;
    vertical-align: top;
}
#wpfooter {
    position: unset !important;
}
.dashb-buy-points button {
    font-size:9px;
    font-weight:700;
    background: #337ab7;
    color: #fbfbfb;
    border: unset;
    padding: 4px 10px 6px 10px;
    outline: none;
    cursor: pointer;
    width: 105px;

}
.buy-now-shrt-code button {
    padding: 3px 9px;
    background-color: #364e67 !important;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;

}
#buy-more-point, #bwki_sites_display_info .btn {
    float:unset;
}
/**new css **/

.dashb-buy-points .btn {
    background: #337ab7;
    color:#fbfbfb;
    border: unset;
}
#button-create-ad {
    background: #337ab7 !important;
    color:#fbfbfb !important;
    border: unset !important;
}
/** button css **/
.button-cmn-class-bp-cmp-spnx {
    font-size: 9px !important;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #0b982e;
}
.button-cmn-class-bp-cmp-spnx:active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-cancle-spnx-main-cls {
    font-weight: 600;
    outline: none;
    cursor: pointer;
    padding: 4px 10px;
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
    font-size: 9px;
}
.btn-cancle-spnx-main-cls:active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.buy-more-point {
    background: #337ab7 !important;
    color:#fbfbfb !important;
    border: unset !important;
    margin-right: unset !important;
    margin-left: 10px;
    font-size: 9px;
    outline: none;
    cursor: pointer;
    padding: 4px 10px;
}
.buy-more-point:active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.camp-group-name img {
    margin-right: 10px;
}
.notice-error, .notice-warning, .notice-success, .notice-info, .update-nag, .error, .updated {
    display: none !important;
}
.notice-spinkx, .notice-spnx {
    display: inline-block !important;
}
.select-drtn-cls .ms-options-wrap > .ms-options {
    background-color:#f3f3f3 !important;
}
.select-drtn-cls .ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover {
    background-color: unset !important;
}
.cmpgn-ad-mny-pts {
    font-size: 12px;
    margin-top: 7px;

}
.cmpgn-model-txt-dv {
    font-size: 12px;
    margin-top:16px;
}
.cmpgn-dv-entr-amnt {
    margin-bottom: 19px;
    font-weight: 600;
    font-size:12px;
}

/**new widget category css **/
.acc-mn-dv-cntainr {
    border:1px solid #f7f7f7;
    width:450px;
    margin:0 auto;
    background-color: white;
}
.mn-txt-cmn-dv:before {
    border: 5px solid transparent;
    border-left-color: #adb0b3;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top:10px;
    width: 0;
}
.activewidget:before{
    border: 5px solid transparent;
    border-top-color: #adb0b3;
    content: '';
    display: block;
    height: 0;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 0;
}
.mn-txt-cmn-dv {
    position:relative;
    padding:07px;
    border-bottom:1px solid #f7f7f7;
    cursor:pointer;
    padding-left:10px;
}
.mn-txt-cmn-dv:hover {
    background-color:#eff0f2;
}
.mn-txt-cmn-dv:last-child {
    border-bottom:5px solid red;
}
.mn-txt-cmn-dv span {
    border-left:1px solid #f7f7f7;
    margin-left:15px;
    padding-left:10px;
}
.ul-mn-cls-chkbx {
    padding: 0;
    list-style-type: none;
    margin:0;
}
.ul-mn-cls-chkbx li {
    border-bottom:1px solid #f7f7f7 !important;
    padding:07px !important;
    padding-left:45px !important;
    cursor: pointer !important;
    margin-bottom: unset !important;
    font-weight: unset !important;
    font-size: 13px;
}
.ul-mn-cls-chkbx li:hover {
    background-color:#eff0f2;
}
.sb-ctgry-cmn-cls {
    display:none;
}
.chkbx-cmn-cls-li {
    float:unset !important;
    padding:unset !important;
    background:unset !important;
    color:unset !important;
    border-radius: unset !important;
    margin-right: 15px !important;
    width: unset !important;
    height:  unset !important;
}
.chkbx-cmn-cls-li input {
    width: unset !important;
    margin: unset !important;

}
.spnx-sec-mn-cntainter select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.bor-nul-val {
    border-bottom:1px solid #ef2222 !important;
}
.error-cmn-clas-spnx {
    margin-top: -19px;
    font-size: 10px;
    color: red;
    display:none;
}
.error-cmn-clas-spnx-paypl {
    margin-top: unset !important;
    display:none;
}
.error-cmn-clas-spnx-terms-condition {

    margin-top: -7px;
    margin-left: 21px;
}
.error-cmn-clas-spnx-additional-act {
    margin-top: unset !important;
    position: absolute;
    top: 28px;
}
.chck-radio-btn-error-cls {
    margin-top: 12px;
    text-align: left;
}
.bs-cmn-class-thrd {
    padding: 15px 20px 5px 20px;
}


/**new widget category ends css **/
.ui-widget-header .ui-icon {
    background-image: none !important;
}

.drop-down-date {
    position: absolute;
    right: 4px;
    top: 10px;
    z-index: 8;
}
