﻿@import url('https://fonts.googleapis.com/css?family=Roboto');
#al_brnd_content {
	padding:0;
	margin-bottom: 50px;
}
#infscr-loading {
	bottom: -45px;
	clear: both;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 100%;
}
.waterfall li.powerdby{
	background: transparent;
	text-align: center;
}

.waterfall li .fbsharelink .btn.share-social-media {
	height:36px;
	width:36px;
	border:0;
	text-shadow: none;
	border-radius: 4px;
	background-color: #fff;
	display: none;
	opacity: 0.97;
	padding: 8px;
}
.waterfall li .fbsharelink .btn.share-social-media em {
	width: 16px;
	height: 16px;
	float: left;
	background: url('../images/send-icon.png') no-repeat;

}
#sharepopup {
	display:none;
	width:300px;
	height:200px;
	border-radius: 10px;
	background-color: grey;

}
.waterfall {
	width:100%;
	margin:0;
}
.waterfall li {
	float: left;
	opacity: 0;
	margin:12px !important;
	list-style: none;
	transform: translateY(100px);
	word-break: break-all !important;
}

.waterfall li.show {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s, top 1s;
}

.waterfall li a {
	text-decoration: none !important;
}
#spinkx-cont-popup{
	top:10%;
	padding: 0;
}
li.al_article.powerdby {
	border:none;
	box-shadow:none;
}
.waterfall li.powerdby  {
	vertical-align:top; right: 10px !important; font-size: 8px;
	list-style:none;
}
.waterfall li#wait {
	list-style:none;
	vertical-align:top;
}
.waterfall li a {
	text-decoration:none !important;
	color:inherit;
}
.waterfall li iframe {
	margin-bottom: 0;
}
div.art_img_block {
	position: relative;
}
.no-more-article { display:inline; color:#333333; text-decoration: none; vertical-align:top;  font-size: 12px; }
/*------------------------------------------------*/
@media all and ( max-width: 4000px ) {
	.al_article {
		max-width: 100%;
	}
}
@media (max-width: 767px){
	#spinkx-cont-popup #al_brnd_content_mobile {
		clear: both;
		position: relative;
		padding-top:8px;
		z-index:999997;
	}
	#spinkx-cont-popup .waterfall li {
		margin-left: 3% !important;
		margin-right: 0 !important;
	}
	#spinkx-cont-popup .waterfall li  div.art_img_block iframe {
		margin-bottom: 0;
	}
	#spinkx-cont-popup .waterfall li div.art_img_block img {
		border-top-left-radius: 6px !important;
		border-top-right-radius: 6px !important;
	}
	#spinkx-cont-popup .waterfall li div.site_name > span {
		max-width: 55% !important;
	}
	#spinkx-cont-popup .waterfall li:not(.powerdby), #spinkx-cont-popup .waterfall li #wait:not {
		background-color: rgba(255, 255, 255, 1) !important;
	}
	#spinkx-cont-popup .waterfall li h3.art_title_block {
		padding: 6px 8px 1px 8px !important;
	}
	#spinkx-cont-popup .waterfall li h3.art_title_block , #spinkx-cont-popup .waterfall li h3.art_title_block a {
		font-family: 'Roboto-Bold', sans-serif !important;;
		font-size:12px !important;
		letter-spacing: .2px;
		line-height: 13px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup .waterfall li input {
		font-family: 'Roboto-Bold', sans-serif !important;;
		font-size:11px !important;
		font-weight: normal !important;
		letter-spacing: .2px;
		line-height: 13px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup .waterfall li a, #spinkx-cont-popup .waterfall li .art_excerpt p{
		font-family: 'Roboto', sans-serif !important;;
		font-size:11px !important;
		letter-spacing: .2px;
		line-height: 12px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup #al_brnd_content_mobile {
		overflow: scroll;
		height:calc(100% - 50px);
		margin-top: 58px;
	}
	#spinkx-cont-popup  #al_brnd_content_mobile{
		padding-top: 0px !important;
	}
	#spinkx-cont-popup .middle-div {
		background-color: rgba(234,235,236, 0.9);
		height:100%;
		width:100%;
		z-index: 999996;
		position:absolute;
		top: 70px;

	}
}
@media (min-width: 700px)  and (max-width: 1024px){
	#spinkx-cont-popup #al_brnd_content_mobile {
		clear: both;
		position: relative;
		padding-top:8px;
		z-index:999997;
	}
	#spinkx-cont-popup .waterfall li  div.art_img_block iframe {
		margin-bottom: 0;
	}
	#spinkx-cont-popup .waterfall li div.art_img_block img {
		border-top-left-radius: 6px !important;
		border-top-right-radius: 6px !important;
	}
	#spinkx-cont-popup .waterfall li div.site_name > span {
		max-width: 55% !important;
	}
	#spinkx-cont-popup .waterfall li:not(.powerdby), #spinkx-cont-popup .waterfall li #wait:not {
		background-color: rgba(255, 255, 255, 1) !important;
	}
	#spinkx-cont-popup .waterfall li h3.art_title_block {
		padding: 6px 8px 1px 8px !important;
	}
	#spinkx-cont-popup .waterfall li h3.art_title_block , #spinkx-cont-popup .waterfall li h3.art_title_block a {
		font-family: 'Roboto-Bold', sans-serif !important;;
		font-size:12px !important;
		letter-spacing: .2px;
		line-height: 13px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup .waterfall li input {
		font-family: 'Roboto-Bold', sans-serif !important;;
		font-weight: normal;
		font-size:11px !important;
		letter-spacing: .2px;
		line-height: 13px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup .waterfall li a, #spinkx-cont-popup .waterfall li .art_excerpt p{
		font-family: 'Roboto', sans-serif !important;;
		font-size:11px !important;
		letter-spacing: .2px;
		line-height: 12px !important;
		color:rgba(40,40,40,1) !important;
	}
	#spinkx-cont-popup #al_brnd_content_mobile {
		overflow: scroll;
		height:calc(100% - 50px);
		margin-top: 50px;

	}
	#spinkx-cont-popup #al_brnd_content_mobile {
		overflow: scroll;
		height:calc(100% - 50px);
		top:42px;
	}
	#spinkx-cont-popup .waterfall li {
		margin-left: 2% !important;
		margin-right: 0 !important;
	}
	#spinkx-cont-popup .waterfall li .middle-div{
		top:110px;
	}
	#spinkx-cont-popup .waterfall li #al_brnd_content_mobile{
		top:70px;
		padding-top: 30px;
	}
	#spinkx-cont-popup .middle-div {
		background-color: rgba(234,235,236, 0.9);
		height:100%;
		width:100%;
		z-index: 999996;
		position:absolute;
		top: 109px;
	}


}
@media (max-width: 1023px){
	#mobile-spinkx-arrow { position:absolute;bottom:0px;width:95%;position: fixed;z-index:99999999;left:2.5%;}
	#spinkx-cont-popup {

		visibility: visible !important;
		resize: none !important;
		transition-property: none !important;
		transform: none !important;
		cursor: auto !important;
		float: none !important;
		display: none;
	}
	#spinkx-cont-popup .waterfall li a {
		text-decoration: none !important;
	}


	}
@media (min-width: 1024px) {
	#al_brnd_content .waterfall li{
		margin: 12px 0 !important;
	}

}
/*------------------------------------------------*/