.clear {
	clear: both;
	min-height: 10px;
}
.ui-slider .ui-slider-range {
	max-width: 99%;
	cursor: pointer;
	width: 300px;
	background: #018cc3;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
	cursor: pointer;
}
.evo-pointer {
	border: 4px solid #000000;
	height: 20px;
	margin-top: -28px;
	position: absolute;
	width: 20px;
}
.form-table input.colorPicker {
	margin-left: 36px;
	max-width: 80px;
	position: relative;
	cursor: pointer;
	min-width: 80px;
	text-align: center;
}
.add_widget_button {
	background: #e7e7e7;
	border: medium none;
	border-radius: 4px;
	box-shadow: 0 0 1px #222222;
	clear: both;
	display: block;
	float: left;
	padding: 6px 10px;
	text-decoration: none;
	margin: 10px;
}
.wrap {
	padding-left: 0px;
	clear: both;
	display: block;
	overflow: hidden;
	margin: auto;
}
.wrap-inner {
	clear: both;
	display: block;
	overflow: hidden;
	background: #ffffff;
	padding: 0 25px;
}
.wp-admin select {
	min-width: 200px;
	text-align: center;
	cursor: pointer;
}
.form-table input {
	width: 60px;
	text-align: center;
	cursor: pointer;
}
h3 {
	padding: 0 10px;
}
.widget-shortcode-row {
	background: #f5f5f5;
	padding: 0px;
	font-family: arial;
	font-size: 12px;
}
.widget-shortcode-row td {
	padding: 8px 0px;
}
td.widget_name_td {
	width: 100px;
	padding-left: 12px;
	text-align: center;
}
td.widget_name_input_td {
	width: 260px;
}
td.widget_shortcode_td {
	width: 200px;
}
td.widget_name_text_td {
	width: 460px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}
td.widget_name_input_td input {
	display: block;
	margin: auto;
	width: 90%;
}
.form-table td p {
	font-size: 13px;
	text-align: left;
}
td.widget_name_text_td p {
	font-size: 12px;
	text-align: center;
}
.form-table .widget_shortcode_td input {
	max-width: 160px;
	min-width: 100px;
}
.bw-shortcode {
	background: #f2f2f2;
	border: 1px solid #bbbbbb;
	display: block;
	padding: 2px 6px;
	text-align: center;
}
.form-table input[type="number"] {
	margin-right: 8px;
	max-width: 60px;
	min-width: 30px;
}
.global-sub-content{
	padding: 10px 0px;
}
a.dist-sub-link {
	padding: 10px;
	margin:5px;
	text-decoration: none;
	color: #444;
	background-color: #F1F1F1;
}
.global-content {
	padding: 0 10px;
	border-bottom:solid 1px #ddd;
}
.global-allow.span1 {
	width: 2%;
	vertical-align: top;
	margin-right:5px;
}
.global-allow.span11 {
	width: 94%;
}
.global-allow {
	display: inline-block;
	padding-bottom:5px;
}
.global-allow h3 {
	margin-top: 0px;
	font-size: 1.1em;
	padding:0px;
}
.table-sub-heading {
	font-size:14px;
	font-weight:500;
	text-align:left;
}
.global-allow.span5 {
	width: 40%;
	vertical-align:top;
}
.global-allow.span7 {
	width:59%;
}
.global-allow.span4 {
	width:33%;
}
textarea {
	min-width: 100%;
	max-width: 100%;
}
.global-allow textarea,.text-background {
	background-color:#f5f5f5;
}
.global-sub-content p.submit
{
	display:inline-block;
	padding: 0px 10px;
	margin-top: 6px;
}
.text-warning {
	color:rgb(237, 20, 20);
	border:0px;
	background:none;
}
.text-success {
	color:#2ea2cc;
	border:0px;
	background:none ;
}
.distribution-sub-pages {
	padding: 10px 0px;
}
.local-sub-content{
	padding: 10px 0px;
}
.local-content {
	padding: 0 10px;
	border-bottom:solid 1px #ddd;
}
.local-sub-content p.submit
{
	display:inline-block;
	padding: 0px 10px;
	margin-top: 6px;
}
.distribution-sub-tabs {
	padding: 10px 0px;
	margin-top:8px;
	border-bottom: solid 1px #ccc;
}
a.dist-sub-link {
	padding: 10px;
	text-decoration: none;
	color: #444;
	background-color: #e7e7e7;
	border: solid 1px #ccc;
	border-bottom:none;
	margin:0px 5px;
}
a.dist-sub-link.active-sub-menu {
	padding: 11px;
	border-bottom: none;
	background-color: #fff;
}
a.dist-sub-link.active-menu {
	padding: 11px;
	background-color: #F1F1F1;
}
a.dist-sub-second-link.active{
	padding: 11px;
	border-bottom: none;
	background-color: #fff;
}
.distribution-sub-menu-tabs {
	padding: 10px 0px;
	margin-top:2px;
	border-bottom: solid 1px #ccc;
}
a.dist-sub-second-link {
	padding: 10px;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	border: solid 1px #ccc;
	margin:0px 5px;
}
.button-warning {
	box-shadow:none !important;
	background-color:rgb(252, 65, 65) !important;
	color:#fff !important;
}
.button-success{
	box-shadow:none !important;
	background-color:#92D7FA !important;
	color:#fff !important;
}
a.ui-slider-handle {
  background-image: none !important;
}
@media (min-width:300px) and (max-width:735px)
{
	.dist-sub-second-link
	{
		display:block;
	}
	.dist-sub-second-link.active
	{
	 background-color:#F1F1F1 !important;
	 }
}
@media (min-width:300px) and (max-width:590px)
{
	.dist-sub-link {
    border-bottom: 1px solid #ddd !important;
    display: block;
	}
	.distribution-sub-tabs>h2{
		float:none;
	}
}
@media (min-width:736px) and (max-width:1030px)
{
	.dist-sub-second-link
	{
		padding:11px 4px !important;
		margin:0px !important;
		font-size:12px;
	}
}
.widget-shortcode-row td{
	display:inline-block;
}