.add_widget_button {
	background: #F9F9F9;
	border: medium none;
	border-radius: 4px;
	box-shadow: 0 0 1px #222222;
	clear: both;
	display: block;
	float: left;
	padding: 6px 10px;
	margin-bottom: 20px;
	text-decoration: none;
}
.wrap {
	padding-left: 0px;
	clear: both;
	display: block;
	overflow: hidden;
}
.wrap-inner {
	clear: both;
	display: block;
	overflow: hidden;
	background: #ffffff;
	padding: 25px;
	min-height: 400px;
}
.table-design
{
	background-color:rgb(222, 233, 239);
}
.form-table th
{
padding:20px 10px;
}
.distribution-sub-tabs {
  padding: 10px 0px;
  margin-top:2px;
  border-bottom: solid 1px #ccc;
}
a.dist-sub-link {
  padding: 10px;
  text-decoration: none;
  color: #444;
  background-color: #e7e7e7;
  border: solid 1px #ccc;
  border-bottom:none;
  margin:0px 5px;
}
a.dist-sub-link.active {
  padding: 11px;
  border-bottom: none;
  background-color: #fff;
}
@media (min-width:300px) and (max-width:590px)
{
	.dist-sub-link {
    border-bottom: 1px solid #ddd !important;
    display: block;
	}
	.distribution-sub-tabs>h2{
		float:none !important;
	}
}
